/* Custom Developer styles
-------------------------------------------------- */

.container {
	max-width: 920px !important;
}

.navigation-container {
	max-width: 920px;
}

.navigation-container .btn-outline {
	margin-top: 20px;
}

.jumbotron-container {
  max-width: 860px;
  margin: 0 auto;
}

.navbar {
  margin-bottom: 0;
}

.navigation-container a.nav-brand {
	color: #999;
  text-decoration: none;
}

a.nav-brand:hover {
  color: black;
}

.btn-outline {
  color: #428bca;
  font-weight: bold;
  background-color: transparent;
  border-color: #428bca;
  border-width: 2px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active,
.open .dropdown-toggle.btn-outline {
  color: #FFF;
  background-color: #428bca;
}

.btn-jumbo {
  color: #FFF;
  font-weight: bold;
  background-color: transparent;
  border-color: #FFF;
  border-width: 2px;
  margin-top: 30px;
}
.btn-jumbo:hover,
.btn-jumbo:focus,
.btn-jumbo:active,
.btn-jumbo.active,
.open .dropdown-toggle.btn-jumbo {
  color: #FFF;
  background-color: #5891c9;
  border-color: #FFF;
}

html, body {
  height: 100%;
}

.jumbotron {
	color: #FFF;
	background-color: transparent;
	background-image:url('../img/bg_blue.jpg');
  height: 100%;
}

/*@media (max-width: 767px) {
  .jumbotron {
    background-image: none;
    color: #333;
  }
}*/